In [15]:
import pandas as pd
import geopandas as gpd

In [20]:
fp_2021 = "939df798a64b6e7cbbbed7408820afb26b927ef27e6f225a7441c4ed1368645e-1707121028867.csv"
fp_2022 = 
fp_2023 =

data = pd.read_csv(fp_2021,sep=",")

geo_data = gpd.read_file("OSM_edges_tm35.gpkg",crs = 'EPSG:3067')

geo_data.head()

     edgeUID     osmId                                           geometry
0  224991963   4811383  MULTILINESTRING ((386953.961 7285067.386, 3869...
1  224992058  98349667  MULTILINESTRING ((388325.442 7285826.264, 3883...
2  224992062  98349667  MULTILINESTRING ((388561.458 7286041.210, 3885...
3  224992181  84013941  MULTILINESTRING ((389502.824 7288248.983, 3894...
4  224992225  98060238  MULTILINESTRING ((387777.904 7292092.720, 3877...

In [32]:
geo_data.rename(columns={'edgeUID': 'edge_uid'}, inplace=True)

geo_data.head()

    edge_uid     osmId                                           geometry
0  224991963   4811383  MULTILINESTRING ((386953.961 7285067.386, 3869...
1  224992058  98349667  MULTILINESTRING ((388325.442 7285826.264, 3883...
2  224992062  98349667  MULTILINESTRING ((388561.458 7286041.210, 3885...
3  224992181  84013941  MULTILINESTRING ((389502.824 7288248.983, 3894...
4  224992225  98060238  MULTILINESTRING ((387777.904 7292092.720, 3877...

In [5]:
data = data[['edge_uid','month','total_trip_count']]

data.head()

    edge_uid    month  total_trip_count
0  225221751  2023-07                10
1  225221751  2023-08                 5
2  225243852  2023-08                15
3  225243852  2023-03                20
4  225243852  2023-01                10

In [7]:
# Group the data by 'edge_uid' and 'month', and sum the 'total_trip_count'
grouped_data = data.groupby(['edge_uid', 'month'])['total_trip_count'].sum().reset_index()

# Pivot the data
pivot_data = grouped_data.pivot_table(index='edge_uid', columns='month', values='total_trip_count', fill_value=0)

# If you want to reset the index and have 'edge_uid' as a column instead
pivot_data.reset_index(inplace=True)

month,edge_uid,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
0,224991943,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,224991959,0.0,0.0,0.0,0.0,40.0,20.0,20.0,25.0,15.0,0.0,0.0,0.0
2,224991960,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,224991961,0.0,0.0,0.0,0.0,40.0,25.0,20.0,25.0,15.0,0.0,0.0,0.0
4,224991964,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
5,224991966,0.0,0.0,0.0,5.0,40.0,25.0,20.0,25.0,15.0,0.0,0.0,0.0
6,224991968,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,224991969,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,224991970,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,224991971,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,224991977,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
11,224991978,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
12,224991989,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
13,224991990,0.0,0.0,0.0,5.0,40.0,25.0,20.0,25.0,15.0,0.0,0.0,0.0
14,224991991,0.0,0.0,0.0,0.0,10.0,10.0,10.0,5.0,0.0,0.0,0.0,0.0
15,224992000,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,224992014,10.0,10.0,0.0,5.0,40.0,10.0,10.0,10.0,0.0,0.0,0.0,0.0
17,224992018,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,224992020,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,224992021,0.0,0.0,0.0,10.0,50.0,30.0,20.0,30.0,15.0,15.0,0.0,0.0

In [40]:
# Convert pivot_data to a GeoDataFrame with 'edge_uid' as the index
#pivot_data_gdf = gpd.GeoDataFrame(pivot_data)

# Join pivot_data_gdf to data_geom using the common column 'edge_uid'
joined_gdf = geo_data.merge(pivot_data, on='edge_uid')
joined_gdf.head

<bound method NDFrame.head of         edge_uid      osmId  \
0      224992502  120139800
1      224992801   97988300
2      224992841    4810883
3      224992932    4807123
4      224993003   98344465
...          ...        ...
51052  227514966  672641054
51053  227522555  396444143
51054  227524109  440626999
51055  227524160  595946726
51056  227526687  509513073

                                                geometry  2023-01  2023-02  \
0      MULTILINESTRING ((387937.649 7292659.665, 3880...      0.0      0.0
1      MULTILINESTRING ((388370.333 7292400.853, 3883...      0.0      0.0
2      MULTILINESTRING ((388208.758 7292583.675, 3882...      0.0      0.0
3      MULTILINESTRING ((387998.401 7292866.934, 3879...      0.0      0.0
4      MULTILINESTRING ((388095.637 7292932.500, 3880...      0.0      0.0
...                                                  ...      ...      ...
51052  MULTILINESTRING ((563283.279 7573965.067, 5633...      0.0      0.0
51053  MULTILINESTRING ((552951.239 7697623.137, 5528...      0.0      0.0
51054  MULTILINESTRING ((555320.870 7728959.436, 5553...      0.0      0.0
51055  MULTILINESTRING ((548464.377 7751187.725, 5484...      0.0      0.0
51056  MULTILINESTRING ((580174.112 7728061.906, 5801...      0.0      0.0

       2023-03  2023-04  2023-05  2023-06  2023-07  2023-08  2023-09  2023-10  \
0          0.0      0.0      0.0      0.0     10.0      5.0      0.0      0.0
1          0.0      0.0      0.0      0.0      5.0      0.0      0.0      0.0
2          0.0      0.0      5.0      0.0      0.0      0.0      0.0      0.0
3          0.0      0.0      0.0      5.0      5.0     10.0      0.0      0.0
4          0.0      0.0      5.0      5.0      5.0     10.0      0.0      0.0
...        ...      ...      ...      ...      ...      ...      ...      ...
51052      0.0      0.0      0.0      5.0      0.0      0.0      0.0      0.0
51053      0.0      0.0      5.0     15.0     35.0     15.0      5.0      0.0
51054      0.0      0.0      0.0      0.0      0.0      5.0      0.0      0.0
51055      0.0      0.0      0.0      0.0      0.0      5.0      0.0      0.0
51056      0.0      0.0     15.0     20.0     40.0     15.0      5.0      0.0

       2023-11  2023-12
0          0.0      0.0
1          0.0      0.0
2          0.0      0.0
3          0.0      0.0
4          0.0      0.0
...        ...      ...
51052      0.0      0.0
51053      0.0      0.0
51054      0.0      0.0
51055      0.0      0.0
51056      0.0      0.0

[51057 rows x 15 columns]>

In [43]:
joined_gdf.to_file('2023_monthly_totaltrip.gpkg')